@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 28 28 28;
  }

  .dark {
    --background: 30 30 35;
    --foreground: 240 240 245;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
